// --------------------------------------------
// Layout - Global and general types style
// --------------------------------------------

*,
*:before,
*:after { box-sizing: border-box; }

body {
  color: $c-default;
  @include f-rempx($f-size);
  font-weight: $f-weight;
  font-family: $f-default;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

a {
  color: $c-default;
  outline: none;
  text-decoration: none;
  background-color: transparent;
  @extend %u-transition-default;

  &:hover,
  &:focus,
  &:active { outline: none; }
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li { list-style: none; }
