// Variables
// -----------------------------------

// Fonts
$font-sans-serif: Helvetica, Arial, sans-serif;
$font-acme: 'Acme-Regular', $font-sans-serif;

// Colors
$color-black: #1d1d1b;
$color-default: $color-black;

// Media queries breakpoints
$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop: 992px;
$screen-large-desktop: 1200px;


// Assets path
$assets-path: '../';
$images-path: '../img/';
$fonts-path: '../fonts/';
$vendors-path: '../vendors/';
